@model OrderNow.Web.Models.ViewModel.CustomerVM
@{
    ViewData["Title"] = "Update";
}
<h1>Update Customer</h1>
@if (TempData["CustomerUpdated"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["CustomerUpdated"]
    </div>
}
@if (TempData["ErrorCustomerUpdated"] != null)
{
    <div class="alert alert-danger">
        <strong>Faild!</strong> @TempData["ErrorCustomerUpdated"]
    </div>
}
<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerPhoto" class="control-label"></label>
        <input asp-for="CustomerPhoto" class="form-control" />
        <span asp-validation-for="CustomerPhoto" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <br />
    <button type="submit" class="btn btn-primary btn-green">Update Customer</button>
    <a asp-controller="Customer" asp-action="CustomerList" class="btn btn-primary btn-sm">Back to List</a>
</form>
